#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BT_RAS
	bool "Enable GATT ranging service"
	select EXPERIMENTAL
	select BT_NRF_SERVICES

if BT_RAS

config BT_RAS_AUTO_ALLOC_RRSP_INSTANCE
	bool "Automatically allocate RRSP instances to new connections"
	default y

config BT_RAS_MAX_ACTIVE_RRSP
	int "Number of simultaneously supported RRSP instances"
	default BT_MAX_CONN
	range 1 BT_MAX_CONN
	help
	  The number of simultaneous connections with an instance of RAS RRSP

module = BT_RAS
module-str = RAS
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BT_RAS
